In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
#@test {"skip": true}
!pip install --quiet --upgrade tensorflow_federated_nightly
!pip install --quiet --upgrade nest_asyncio

import nest_asyncio
nest_asyncio.apply()

In [3]:
import collections
import functools
import os
import time

import pandas as pd
import numpy as np
import tensorflow as tf
import tensorflow_federated as tff

/usr/local/lib/python3.6/dist-packages/tensorflow_addons/utils/ensure_tf_install.py:43: UserWarning: You are currently using a nightly version of TensorFlow (2.4.0-dev20200918).
TensorFlow Addons offers no support for the nightly versions of TensorFlow. Some things might work, some other might not.
If you encounter a bug, do not file an issue on GitHub.
  UserWarning,

In [4]:
angry = pd.read_excel("/content/drive/My Drive/Colab Notebooks/4-2고급기계플젝/dataset/angry.xlsx")
happy = pd.read_excel("/content/drive/My Drive/Colab Notebooks/4-2고급기계플젝/dataset/happy.xlsx")
love = pd.read_excel("/content/drive/My Drive/Colab Notebooks/4-2고급기계플젝/dataset/love.xlsx")
sad = pd.read_excel("/content/drive/My Drive/Colab Notebooks/4-2고급기계플젝/dataset/sad.xlsx")
depressed = pd.read_excel("/content/drive/My Drive/Colab Notebooks/4-2고급기계플젝/dataset/depressed.xlsx")

In [5]:
angry.columns=['sentence','label']
happy.columns=['sentence','label']
love.columns=['sentence','label']
sad.columns=['sentence','label']
depressed.columns=['sentence','label']

In [6]:
angry = angry.dropna()
happy = happy.dropna()
love = love.dropna()
sad = sad.dropna()
depressed = depressed.dropna()

In [7]:
data=pd.concat([angry,happy,love,sad,depressed])
data = data.reset_index(drop=True)

In [8]:
data.head()

                  sentence  label
0                 화나다와 화내다      4
1  여러분물어볼게있는데요.화나다하고속상...       4
2           화나다와 화내다의 구분방법      4
3     ‘화나다’는 동사인가요 형용사인가요?      4
4                화나다 / 차이다      4

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(data['sentence'],data['label'],
                                                 test_size=0.33, random_state=42)

In [14]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(16492,)
(8123,)
(16492,)
(8123,)